version: "3.9"
services:
  app:
    build: .
    env_file: .env
    ports:
      - "8080:8000"
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads
    command: >
      sh -c "sh /app/start.sh"
